<div class="center">
  <span class="title">Bienvenu sur notre site de QUIZZZZZ !</span>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="assets/logo_quizz.jpg">
      <div class="card-body">
        <p class="card-text">Quizz 1</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/logo_quizz.jpg">
      <div class="card-body">
        <p class="card-text">Quizz 2</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/logo_quizz.jpg">
      <div class="card-body">
        <p class="card-text">Quizz 3</p>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="assets/logo_quizz.jpg">
      <div class="card-body">
        <p class="card-text">Quizz 1</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/logo_quizz.jpg">
      <div class="card-body">
        <p class="card-text">Quizz 2</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/logo_quizz.jpg">
      <div class="card-body">
        <p class="card-text">Quizz 3</p>
      </div>
    </div>
  </div>
  <p>Nous sommes là pour t'aider et t'accompagner pendant 4 journées de TP. N'hésite pas si tu as la moindre question
    ! </p>
</div>
